.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.DS_Store
*.out
.env
data/raw/*
data/raw/.gitkeep
data/external/*
!data/external/.gitkeep
!data/processed/.gitkeep
home/
data/collect_errors.log
data/build_cache_errors.log